.{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
  }
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1000px;
    transform:translateX(-200px);
  }
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(12123.jpg) no-repeat;
	font-family: 'Source Sans Pro', sans-serif;
	background-size: cover;

}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 5px;
	
	display:flex ;
	justify-content:space-between ;
	align-items: left;
	z-index: 99;
}
form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
	}
	input{
		appearance: none;
		width: 250px;
		background: transparent;
		border-radius: 20px;
		padding: 10px 15px;
		margin:  auto;
		display: block;
		text-align: center;
		font-size: 18px;
		font-color: white;
		
		font-weight: 200;
		}

		input:hover{
			background-color: white, 40%;
		}

		


.logo{
	font-size: 2em;
	color:#191970  ;
	user-select: none;


}
.navigation a {
	position: relative;
	font-size: 1.1em;
	text-decoration: none;
	color:violet;
	font-weight: 300;
	margin-left: 40px;
	padding: 10px;

}
.navigation a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 60px;
	height: 3px;
	background: black;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transfrom .5s;
}
.navigation a:hover::after{
	transform-origin: left;
	transform: scaleX(1);

}
.wapper {
	position:relative;
	width: 400px;
	height: 440px;
	background: transparent;
	backface-visibility:none ;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.wapper .from-box{
	width:170px;
	padding:40px;

}
.from-box h2{
	font-size: 2em;
	color:#191970 ;
	text-align: center;
}
.btn{
	width: 100%;
	height: 30px;
	background: #F0FFF0;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 500%;
}
.btn:hover{
			background-color:#191970;
		}

input-box{
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid blueviolet;
	margin: 30px 0;
}


.login-register{
	font-size: .9em;
	color: black;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}
.login-register p a{
	color:form
	padding: 20px 0;
	position: relative;
	z-index: 2;
	text-decoration: none;
	font-weight: 600;
}
.login-register p a:hover{
	text-decoration: underline;

}
	